MONGO_URI=mongodb://{{ mongodb_app_user }}:{{ mongodb_app_password }}@{{ db_private_ip }}:{{ mongodb_port }}/{{ mongodb_database }}?authSource={{ mongodb_database }}
PORT={{ backend_port }}
NODE_ENV=production
